## Intro to python, comments, errors.

In [11]:
print("Hello world!")

Hello world!

In [1]:
import sys
print(sys.version)

3.11.11 (main, Dec 11 2024, 10:25:04) [Clang 14.0.6 ]

In [3]:
#comments
print("Hello, world!") #prints Hello world

Hello, world!

In [4]:
print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

## Data Types

### Numeric Types

In [7]:
age = 25
year = 2025
print(type(age), type(year))
print

<class 'int'> <class 'int'>

In [8]:
temparature = 36.8
print(type(temparature))

<class 'float'>

In [9]:
complex = 2+3j
print(type(complex))

<class 'complex'>

### Booelan (bool)

In [10]:
is_adult = True
result = 10 > 5
print(is_adult, result)
print(type(result))

True True
<class 'bool'>

### Sequence types

In [13]:
greeting = "Hello, Data Science!"
print(greeting)
print(type(greeting))

Hello, Data Science!
<class 'str'>

In [14]:
my_list = [10, 20, "Python", True]
print(my_list)
print(type(my_list))

# Accessing elements, index starts from 0
print(my_list[2])

# List operations
my_list.append("New Element")
print(my_list)

[10, 20, 'Python', True]
<class 'list'>
Python
[10, 20, 'Python', True, 'New Element']

In [15]:
my_tuple = (1, 2, 3, "Data")
print(my_tuple)
print(type(my_tuple))

(1, 2, 3, 'Data')
<class 'tuple'>

In [16]:
numbers = range(0, 10, 2)  # start at 0, go up to 10 (exclusive), step by 2
print(list(numbers))  # Convert to list to see all values
print(type(numbers))

[0, 2, 4, 6, 8]
<class 'range'>

In [17]:
person = {
    "name": "Vybhav",
    "age": 25,
    "course": "IBM Data Analyst Professional Certificate"
}
print(person)
print(type(person))

# Accessing values by key
print(person["name"])

{'name': 'Vybhav', 'age': 25, 'course': 'IBM Data Analyst Professional Certificate'}
<class 'dict'>
Vybhav

In [18]:
my_set = {1, 2, 3, 2, 1}
print(my_set)
print(type(my_set))

{1, 2, 3}
<class 'set'>

In [20]:
immutable_set = frozenset([1, 2, 3, 3, 4, 4])
print(immutable_set)
print(type(immutable_set))

frozenset({1, 2, 3, 4})
<class 'frozenset'>

In [21]:
no_value = None
print(no_value)
print(type(no_value))

None
<class 'NoneType'>

### Expression

In [22]:
result = 3 + 2 * 4  #Python follows PEMDAS
print(result)

11

In [23]:
result = (3 + 2) * 4 
print(result)

20

In [24]:
a = 5 #Using variables
b = 3
sum_ab = a + b
product_ab = a * b
print("Sum:", sum_ab)
print("Product:", product_ab)

Sum: 8
Product: 15

In [25]:
import math
radius = 7
area_circle = math.pi * (radius ** 2) #two asterics perform exponential
print("Area of the circle:", area_circle)

Area of the circle: 153.93804002589985

In [26]:
result = (10 + 5) * (12 / 3) - 2 ** 3
print(result)

52.0

## String operations

In [30]:
#String concatenation

first_name = "Vybhav"
last_name = "Krishna"
full_name = first_name + " " + last_name
print(full_name)

Vybhav Krishna

In [32]:
#Repetition

repeat_str = "ha" * 3
print(repeat_str)  #(ha repeated three times)

hahaha

In [34]:
#indexing and slicing

text = "Data Science"
print(text[0])  # 'D'
print(text[5])  # 'S'

#nagative = from end
print(text[-1])  # 'e'
print(text[-2])  # 'c'

D
S
e
c

In [35]:
#Slicing

s = "PythonString"
print(s[0:6])    # 'Python' (characters from index 0 up to, but not including, 6)
print(s[6:])     # 'String' (from index 6 to the end)
print(s[::2])    # Every second character in the string

Python
String
PtoSrn

In [37]:
#Changing case

sentence = "Data Science is fun!"
print(sentence.upper())  # "DATA SCIENCE IS FUN!"
print(sentence.lower())  # "data science is fun!"

print(sentence.capitalize())  # Only first letter is capitalized

DATA SCIENCE IS FUN!
data science is fun!
Data science is fun!

In [40]:
sentence = "Data Science is fun!"

#Splitting

words = sentence.split()
print(words)  # ['Data', 'Science', 'is', 'fun!']

#Joining

joined = " ".join(words)
print(joined)  # "Data Science is fun!"

['Data', 'Science', 'is', 'fun!']
Data Science is fun!

In [41]:
#Trimmig white spaces

messy = "   Clean me up!   "
print(messy.strip())   # "Clean me up!"
print(messy.lstrip())  # "Clean me up!   "
print(messy.rstrip())  # "   Clean me up!"

Clean me up!
Clean me up!
   Clean me up!

In [42]:
#replacing

text = "I love Python. Python is great!"
new_text = text.replace("Python", "data analysis")
print(new_text)  # "I love data analysis. data analysis is great!"

#Searching

position = text.find("Python")
print(position)  # Position of the first occurrence of 'Python'

I love data analysis. data analysis is great!
7