## Dictionaries

In [1]:
# Using curly braces
student = {
    "id": 101,
    "name": "Alice",
    "grades": [85, 92, 78]
}

# Using the dict() constructor
employee = dict(name="Bob", role="Data Analyst", salary=75000)

print(student)
print(employee)

{'id': 101, 'name': 'Alice', 'grades': [85, 92, 78]}
{'name': 'Bob', 'role': 'Data Analyst', 'salary': 75000}

In [2]:
print(student["name"])

Alice

In [3]:
# Adding a new key-value pair
student["major"] = "Data Science"
print(student)

# Updating an existing value
student["grades"].append(95)
print(student)

{'id': 101, 'name': 'Alice', 'grades': [85, 92, 78], 'major': 'Data Science'}
{'id': 101, 'name': 'Alice', 'grades': [85, 92, 78, 95], 'major': 'Data Science'}

In [4]:
del employee["salary"]
print(employee)

{'name': 'Bob', 'role': 'Data Analyst'}

In [5]:
student.clear()
print(student)

{}

In [6]:
for key in employee:
    print(key)

name
role

In [8]:
students = {
    "student1": {"name": "Alice", "grade": "A"},
    "student2": {"name": "Bob", "grade": "B"},
    "student3": {"name": "Charlie", "grade": "A"}
}

# Accessing nested elements
print(students["student2"]["name"])

Bob

## Sets

In [9]:
fruits = {"apple", "banana", "cherry"}
print(fruits)

numbers = set([1, 2, 3, 3, 4])  # Duplicates (the extra 3) are removed automatically
print(numbers)

{'apple', 'banana', 'cherry'}
{1, 2, 3, 4}

In [10]:
colors = {"red", "green", "blue"}
print("green" in colors)

True

In [11]:
colors.add("yellow")

In [13]:
colors.remove("green")  # Raises KeyError if the element does not exist.

KeyError: 'green'

In [14]:
colors.discard("purple")  # Does nothing if the element is not in the set.

In [15]:
popped_element = colors.pop()  # Removes and returns an arbitrary element
print("Popped:", popped_element)

Popped: red

In [16]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
union_result1 = set_a | set_b
print(union_result1)

# Alternatively:
union_result2 = set_a.union(set_b)
print(union_result2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [17]:
intersection_result = set_a & set_b
print(intersection_result)
# Alternatively:
intersection_result = set_a.intersection(set_b)

{3}

In [18]:
difference_result = set_a - set_b  # Output: {1, 2}
# Alternatively:
difference_result = set_a.difference(set_b)